* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');

@font-face {
    font-family: "Titulo";
    src: url('../resources/Tektur-VariableFont_wdth\,wght.ttf');
}

html {
    height: 100%;
    background-image: url(../resources/fondofinales.jpg);
    background-repeat: repeat;
    background-size: 100%;
}

/* Hacer funcionar esto la próxima, para que el scrollbar no mueva el contenido de las páginas reservando espacio! ↓↓↓ */

body {
    overflow-y: hidden;
    scrollbar-gutter: stable both-edges; 
}

.body2 {
    overflow-y: auto;
    scrollbar-gutter: stable both-edges;  
}

/* HEADER BOOTSTRAP */

.navbar {
    background: rgb(252,252,252);
    background: linear-gradient(90deg, rgba(252,252,252,1) 0%, rgba(51,131,131,1) 88%, rgba(17,92,107,1) 100%);
    height: 13vh;
    z-index: 1010;
}

.smt {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.navbar-nav {
    text-transform: uppercase;
    align-items: center;
    width: 100%;
    height: 100%;
    list-style-type: none;
    justify-content: space-evenly;
    font-family: "Titulo";
}

.nav-link {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
}

/* HOVER + ACTIVE DEL HEADER */
.nav-underline .nav-link.active,
.nav-underline .show > .nav-link {
  font-weight: 700;
  color: #bd0d0d;
  border-bottom-color: #bd0d0d;
}

.nav-underline .nav-link:hover, .nav-underline .nav-link:focus {
    border-bottom-color: currentColor;
  }



/* FIN HEADER BOOTSTRAP */

/* INDEX */

#main-index {
    background-image: url(../resources/20221203_185725.jpg);
    background-repeat: repeat;
    background-size: 100%;
    height: 74vh;
    overflow: hidden;
}

.caja-campeones {
    display: inline;
    position: sticky;
    text-align: center;
    top: 8rem;
}

.campeones {
    color: #0400d4b9;
    font-family: "Titulo";
    font-weight: 900;
    font-size: 4rem;
}

.caja-boton {
    display: flex;
    justify-content: center;
    position: sticky;
    text-align: center;
    top: 300px;
}

.caja-boton a {
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-family: "Titulo";
    font-weight: 900;
    text-decoration: none;
    border: dashed 2px #00ffff;
    border-radius: 5px;
    padding: 5px 30px;
}

/* FIN DE INDEX */

/* FINALES */

#main-finales {
    min-height: calc(100vh - 13vh - 14vh);
}

.fondomundiales {
    background-image: url(../resources/fondofinales.jpg);
    background-repeat: repeat;
    background-size: 100%;
}

.btn {
  background-color: rgb(0, 98, 163);
  font-size: 1rem;
  font-weight: 900;
  font-family: "Titulo";
  color: rgb(255, 255, 255);
}

.card-text {
    font-family: "Titulo";
    font-size: 0.9rem;
    font-weight: bold;
}

.text-body-secondary {
    font-weight: 900;
    font-size: 1.3rem;
    font-family: 'Titulo';
    color: rgb(255, 255, 255)!important;
}

/* FIN DE FINALES */

/* PREVIA DE LOS MUNDIALES */

#main-previa {
    min-height: calc(100vh - 13vh - 14vh);
    width: 100%;
}

.fondoprevia {
    background-image: url(../resources/LeoBombonera.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: bottom;
    margin: auto;
}

.caja-contprevia {
    height: 40%;
    padding: 3rem 0 0;
    display: block;
    flex-wrap: wrap;
    position: relative;
 }

.caja-contprevia h2 {
    margin: 0;
    display: flex;
    color: rgb(252,252,252);
    font-size: 3rem;
    font-family: 'Titulo';
    font-weight: 900;
    text-align: center;
    justify-content: center;
}

.calendar-container {
    background: rgb(252,252,252);
    background: linear-gradient(90deg, rgba(252,252,252,1) 0%, rgba(51,131,131,1) 88%, rgba(17,92,107,1) 100%);
    overflow: hidden ;
    width: 100%;
    max-width: 30rem;
    box-shadow: 0 2px 20px darkslategrey;
    border-radius: 10px;
    margin: auto;
}

.calendar-header {
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid black;
}

.calendar-header h1 {
    font-size: 1.1rem;
    margin: 0;
    color: black;
    font-weight: bold;
    font-family: 'Titulo';
}

.calendar-header p {
    font-size: 0.8rem;
    margin: 5px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-family: 'Titulo';
}

.calendar {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(7, minmax(3.037rem, 1fr));
    grid-row: 1.8rem;
    grid-auto-rows: 2.8rem;
    font-family: 'Titulo';
}

.day {
    font-style: italic;
    text-align: right;
    padding: 0.9rem 1.2rem;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    font-size: 0.95rem;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.day:nth-of-type(7n + 7){
    border-right: none;
}

.day-name {
    font-size: 0.9rem;
    text-transform:uppercase ;
    color: rgb(34, 31, 31);
    text-align: center;
    line-height: 2.8rem;
    font-weight: bold;
    border-bottom: 1px solid black;
}

.day-disabled{
    cursor: not-allowed;
    color: rgba(255, 255, 255, 0.356);
}
.diacampeon {
    font-weight: 900;
    font-size: 20px;
    text-align: center;
}

.diacampeon a {
    text-decoration: none !important;
    color: red!important;
    text-align: center;
}

.diacampeon:hover {
    background-color: rgb(2, 0, 141);
    text-decoration: none;
    text-align: center;
}

.diacampeon a:hover {
    text-decoration: none !important;
    color: rgb(253, 253, 253)!important;
    text-align: center;
}


/* FIN DE PREVIA DE LOS MUNDIALES */

/* QATAR 2022 */

#main-qatar {
    min-height: calc(100vh - 13vh - 14vh);
    background-image: url(../resources/FondoQatar.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

.fondoqatar {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
}

.containerbatalla {
    gap: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    padding-top: 15px;
}

.textobatalla {
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-family: "Titulo";
    font-weight: 900;
    text-align: center;
    padding-bottom: 15px;
}

.videobatalla {
    top: 130px;
    left: 500px;
}

.videobatalla video { 
    height: 300px;
    display: flex;
    width: 300px;
}

.imageneslusail {
    display: flex;
    width: 100%;
    height: 200px;
    justify-content: space-between;
    gap: 80px;
}

.imageneslusail img {
    max-width: 200px;
}

/* FIN DE QATAR 2022 */

/* COINCIDENCIAS */

#main-coincidencias {
    min-height: calc(100vh - 13vh - 14vh);
    background-image: url(../resources/Coincidencias.jpg);
    background-repeat: repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-position-y: top;
}

.padre-coincidencias {
    width: 100%;
    padding: 50px;
}

.p-container {
    font-size: 20px;
    text-align: center;
    justify-content: center;
}

.p-container p {
    padding-top: 20px;
    color: antiquewhite;
    font-family: "Titulo";
    font-weight: 500;
}

/* FIN DE COINCIDENCIAS */

/* FOOTER */

.footer {  
    height: 14vh;
    background: rgb(252,252,252);
    background: linear-gradient(90deg, rgba(252,252,252,1) 0%, rgba(51,131,131,1) 88%, rgba(17,92,107,1) 100%);
    padding-bottom: 1rem;
}

.card-body {
    text-align: center;
    background: rgb(252,252,252);
    background: linear-gradient(90deg, rgba(252,252,252,1) 0%, rgba(51,131,131,1) 88%, rgba(17,92,107,1) 100%);
}
.card-title {
    color: black;
    font-weight: bold;
    font-family: 'Titulo';
    font-size: 1.1rem;
}

/* FIN DEL FOOTER */
    

/* MEDIA QUERIES */

@media (max-width:991px){

    body {
        -webkit-overflow-scrolling: touch;
        max-height: 100vh;
        overflow: scroll;
      }

    .navbar-toggler {
        background-color: rgb(2, 99, 163);
    }

    .navbar-nav {
        background-color: rgb(2, 99, 163);
    }

    .nav-link {
        color: rgb(255, 255, 255);
        text-decoration: none;
        font-weight: bold;
    }

    .caja-campeones {
        display: inline;
        position: fixed;
        text-align: center;
        top: 10rem;
        background-color: transparent; 
    }
    
    .campeones {
        color: #0263A3;
        font-family: 'Titulo';
        font-weight: 900;
        font-size: 4.063rem;
    }

    #main-coincidencias {
        min-height: calc(100vh - 13vh - 13vh);
        background-image: url(../resources/Coincidencias.jpg);
        background-repeat: repeat;
        background-size: 100%;
        background-attachment: fixed;
        background-position-y: top;
    }

    .fondoprevia {
        background-image: url(../resources/LeoBombonera.jpg);
        background-repeat: repeat-y;
        background-size: 100%;
        background-position-y: center;
    }

    .calendar-container {
        background: rgb(252,252,252);
        background: linear-gradient(90deg, rgba(252,252,252,1) 0%, rgba(51,131,131,1) 88%, rgba(17,92,107,1) 100%);
        overflow: hidden;
        width: 100%;
        max-width: 25rem;
        box-shadow: 0 2px 20px darkslategrey;
        border-radius: 10px;
        margin: 3rem auto;
    }

    .calendar {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(7, minmax(2rem, 1fr));
        grid-row: 1.2rem;
        grid-auto-rows: 2.8rem;
    }
}

@media (max-width:614px){

    body {
        -webkit-overflow-scrolling: touch;
        max-height: 100vh;
        overflow: scroll;
      }

    .navbar-toggler {
        background-color: rgb(2, 99, 163);
    }

    .navbar-nav {
        background-color: rgb(2, 99, 163);
    }

    .nav-link {
        color: rgb(255, 255, 255);
        text-decoration: none;
        font-weight: bold;
    }

    .caja-campeones {
        display: inline;
        position: fixed;
        text-align: center;
        top: 7rem;
        background-color: transparent; 
    }
    
    .campeones {
        color: #0263A3;
        font-family: 'Titulo';
        font-weight: 900;
        font-size: 4.063rem;
    }

    #main-previa {
        overflow: scroll;
    }

    #main-coincidencias {
        min-height: calc(100vh - 13vh - 13vh);
        background-image: url(../resources/Coincidencias.jpg);
        background-repeat: repeat;
        background-size: 100%;
        background-attachment: fixed;
        background-position-y: top;
    }

    .footer {  
        height: 13vh;
        bottom: 0;
        background: rgb(252,252,252);
        background: linear-gradient(90deg, rgba(252,252,252,1) 0%, rgba(51,131,131,1) 88%, rgba(17,92,107,1) 100%);
    }

    .calendar-container {
        background: rgb(252,252,252);
        background: linear-gradient(90deg, rgba(252,252,252,1) 0%, rgba(51,131,131,1) 88%, rgba(17,92,107,1) 100%);
        overflow: hidden;
        width: 80%;
        max-width: 30rem;
        box-shadow: 0 2px 20px darkslategrey;
        border-radius: 10px;
        margin: 1rem auto;
    }

    .calendar {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(7, minmax(2rem, 1fr));
        grid-row: 1.2rem;
        grid-auto-rows: 2.5rem;
    }
}




