* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');

@font-face {
    font-family: "Titulo";
    src: url('../resources/Tektur-VariableFont_wdth\,wght.ttf');
}

html {
    height: 100%;
}

/* Hacer funcionar esto la próxima, para que el scrollbar no mueva el contenido de las páginas reservando espacio! ↓↓↓ */

body {
    overflow-y: hidden;
    scrollbar-gutter: stable both-edges;  
}

.body2 {
    overflow-y: auto;
    scrollbar-gutter: stable both-edges;  
}

/* HEADER */

.header {
    position: sticky;
    top: 0;
    width: 100%;
    background: rgb(252,252,252);
    background: linear-gradient(90deg, rgba(252,252,252,1) 0%, rgba(51,131,131,1) 88%, rgba(17,92,107,1) 100%);
    height: 13vh;
    z-index: 1000;
}

.nav {
    text-transform: uppercase;
    padding: 15px;
    height: 100%;
    display: block;
}

.nav ul {
    height: 100%;
    align-items: center;
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    font-family: "Titulo";
}

.nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
}

/* FIN DEL HEADER */

/* HEADER BOOTSTRAP */

.navbar {
    background: rgb(252,252,252);
    background: linear-gradient(90deg, rgba(252,252,252,1) 0%, rgba(51,131,131,1) 88%, rgba(17,92,107,1) 100%);
    height: 13vh;
    z-index: 1010;
}

.container-fluid {
    display: flex;
}

.smt {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.navbar-nav {
    text-transform: uppercase;
    align-items: center;
    width: 100%;
    height: 100%;
    list-style-type: none;
    justify-content: space-evenly;
    font-family: "Titulo";
}

.nav-link {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
}



/* FIN HEADER BOOTSTRAP */

/* INDEX */

#main-index {
    background-image: url(../resources/20221203_185725.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 74vh;
    overflow: hidden;
}

.caja-campeones {
    display: inline;
    position: sticky;
    text-align: center;
    top: 200px;
    background-color: black;
    
}

.campeones {
    color: #0400d4b9;
    font-family: "Titulo";
    font-weight: 900;
    font-size: 65px;
}

.caja-boton {
    display: flex;
    justify-content: center;
    position: sticky;
    text-align: center;
    top: 300px;
}

.caja-boton a {
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-family: "Titulo";
    font-weight: 900;
    text-decoration: none;
    border: dashed 2px #00ffff;
    border-radius: 5px;
    padding: 5px 30px;
}

/* FIN DE INDEX */

/* FINALES */

#main-finales {
    min-height: calc(100vh - 13vh - 13vh);
}

.fondomundiales {
    background-image: url(../resources/fondofinales.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.caja-contfinales {
    min-height: 87vh;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.caja-finales {
    position: flex;
    display: inline;
    padding: 0px;
    height: 60px;
}

.finales {
    display: flex;
    text-align: center;
    justify-content: center;
    height: 70px;
    color: antiquewhite;
    font-family: "Titulo";
    font-weight: 500;
    padding: 20px;
}

.div1 {
    display: flex;
    position: relative;
    justify-content: space-evenly;
    padding: 5px 30px;
    margin: 5px;
}

.div2 {
    display: flex;
    position: relative;
    justify-content: space-evenly;
    padding: 5px 30px;
    margin: 5px;
}

#main-finales img {
    height: 200px;
    width: 300px;
}

.botones-mundiales {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    z-index: 50;
}

.botones-mundiales a {
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-family: "Titulo";
    font-weight: 900;
    text-decoration: none;
    border: dashed 2px #00ffff;
    border-radius: 5px;
    padding: 5px 30px;
}

.caja-numerosmundiales {
    margin: 20px 0px;
}

.enlace1 {
    position: absolute;
    top: -300px;
    left: 275px;
    transform: translate(-50%, -100%);
    z-index: 100;
}

.enlace2 {
    position: absolute;
    top: -300px;
    left: 680px;
    transform: translate(-50%, -100%);
    z-index: 100;
}

.enlace3 {
    position: absolute;
    top: -300px;
    left: 1077px;
    transform: translate(-50%, -100%);
    z-index: 102;
}

.enlace4 {
    position: absolute;
    top: -80px;
    left: 275px;
    transform: translate(-50%, -100%);
    z-index: 103;
}

.enlace5 {
    position: absolute;
    top: -80px;
    left: 680px;
    transform: translate(-50%, -100%);
    z-index: 104;
}

.enlace6 {
    position: absolute;
    top: -80px;
    left: 1077px;
    transform: translate(-50%, -100%);
    z-index: 105;
}

/* FIN DE FINALES */

/* PREVIA DE LOS MUNDIALES */

#main-previa {
    min-height: calc(100vh - 13vh - 13vh);
}

.fondoprevia {
    display: flex;
    background-image: url(../resources/LeoBombonera.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: bottom;
}

.caja-contprevia {
    min-height: 74vh;
}

.caja-contprevia h2 {
    display: flex;
    position: absolute;
    color: rgb(252,252,252);
    font-size: 50px;
    font-family: Titulo;
    font-weight: 900;
    left: 250px;
    top: 250px;
}

.calendario {
    position: absolute;
    top: 237px;
    left: 70%;
    text-align: center;
    width: 300px;
}

.julio {
    background-color: aquamarine;
    padding: 10px;
}

.numeros-calendario {
    padding: 0px;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    background-color: aquamarine;

}

.primerdia {
    grid-column-start: 5;
}

.dias {
    text-align: center;
    font-weight: 900;
}

.numeros-calendario li {
    text-align: center;
    font-style: italic;
}

.diacampeon {
    font-weight: 900;
    font-size: 20px;
}

.diacampeon a {
    text-decoration: none;
    color: red;
}

/* FIN DE PREVIA DE LOS MUNDIALES */

/* QATAR 2022 */

#main-qatar {
    min-height: calc(100vh - 13vh - 13vh);
    background-image: url(../resources/FondoQatar.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

.fondoqatar {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
}

.containerbatalla {
    gap: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    padding-top: 15px;
}

.textobatalla {
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-family: "Titulo";
    font-weight: 900;
    text-align: center;
    padding-bottom: 15px;
}

.videobatalla {
    top: 130px;
    left: 500px;
}

.videobatalla video { 
    height: 300px;
    display: flex;
    width: 300px;
}

.imageneslusail {
    display: flex;
    width: 100%;
    height: 200px;
    justify-content: space-between;
    gap: 80px;
}

.imageneslusail img {
    max-width: 200px;
}

/* FIN DE QATAR 2022 */

/* COINCIDENCIAS */

#main-coincidencias {
    min-height: calc(100vh - 13vh - 13vh);
    background-image: url(../resources/Coincidencias.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-position-y: top;
}

.padre-coincidencias {
    width: 100%;
    padding: 50px;
}

.p-container {
    font-size: 20px;
    text-align: center;
    justify-content: center;
}

.p-container p {
    padding-top: 20px;
    color: antiquewhite;
    font-family: "Titulo";
    font-weight: 500;
}

/* FIN DE COINCIDENCIAS */

/* FOOTER */

.footer {  
    height: 13vh;
    background: rgb(252,252,252);
    background: linear-gradient(90deg, rgba(252,252,252,1) 0%, rgba(51,131,131,1) 88%, rgba(17,92,107,1) 100%);
}

.footer p {
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    color: black;
    font-weight: bold;
    padding: 10px;
}

/* FIN DEL FOOTER */

